#files{
    display: none;
}

:root{
    --blue:darkblue
    
}

body{
    background-color: rgb(65, 155, 155);
}

#menu-bar{
    background-color: rgb(65, 155, 155);
}
#contact-container,#lorem-container{
    background-color: darkcyan;
}

#card-head{
    background-color: rgb(27, 100, 97);
}

#card-body{
    background-color: rgb(219, 241, 234);
}

#post-card-body{
    background-color: rgb(219, 241, 234);
}

.hand{
    cursor: pointer;
}